/*common*/
//ui-btn-more
.ui-btn-more{
  background:url(../images/hp-more.png) no-repeat center center;
  width:290px;
  height:18px;
  display: block;
  margin:70px auto;
}
//ui-orn-pic
.ui-orn-pic{
  width:100%;
  background: url("../images/hp-ornpic.png") no-repeat center center;
  height:65px;
  margin-top: 0px;
  //position: absolute;
  //top:120px;
}
.ui-mode-info{
  color: #3da8aa;
  font-weight: 500;
  font-size:24px;
  text-align: center;
  //position: absolute;
  width:100%;
  .tit{
    line-height:50px;
    color: #3da8aa;
    padding:7px;
    border-bottom: 1px solid #3da8aa;
  }
  .des{
    margin-top: 36px;
    color: #818181;
    line-height:40px;
  }
}
.col-pd{
  margin:10px 0px;
  position: relative;

}
.col-pdnot{
  position: relative;
}
.col-mrg{
  margin-top:13px
}
