@import "common/ui-thumbmask";
@import "common/m-hd";

.activebg {
  position: relative;
  width: 100%;
  height: 600px;
  background: #fff;
  background-attachment: fixed;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.section {
  background-image: url("../images/nz-section-hd.png");
  background-position: 50% 50px;
  background-size: 50%;
  .m-hd {
    margin-bottom: 15px;
    margin-right: 10px;
    margin-left: 10px;
  }
  &.section1 {

  }
  &.section2 {
    .ui-thumbmask {
      margin: 20px;
      border-width: 0;
    }
    @media(max-width: 1000px) {
      .ui-thumbmask {
        margin: 10px;
      }
    }
    @media(max-width: 800px) {
    }
    @media(max-width: 640px) {
    }
  }
}

