/*default*/
html {
  color: #000;
  background: #FFF; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

input, textarea, select {
  *font-size: 100%; }

a {
  text-decoration: none;
  outline: medium none;
  padding: 0px; }

li {
  list-style: none; }

html {
  width: 100%;
  height: 100%; }

body {
  position: relative;
  width: 100%;
  font-size: 12px;
  line-height: 24px;
  color: #323232;
  -webkit-text-size-adjust: none;
  height: 100%; }

img {
  outline: none; }

a:hover {
  text-decoration: none !important; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.wrap {
  width: 1200px;
  margin: 0px auto; }

/*resize*/
@media only screen and (min-width: 1400px) {
  .col-mrg {
    margin-top: 22px !important; }

  .refer-btn-more {
    margin-top: 30px !important; } }
@media screen and (min-width: 768px) and (max-width: 1400px) {
  .duty-left {
    width: 212px !important; }

  .duty-right {
    width: 400px !important; }

  .homeabout .col-pd {
    width: 280px; } }
@media only screen and (max-width: 976px) {
  .navbar-nav span {
    display: none; } }
@media (min-width: 768px) {
  .navbar-nav {
    float: right !important; }
    .navbar-nav li:hover label {
      display: block; }
    .navbar-nav li a {
      width: 168px;
      color: #fff !important;
      font-size: 18px;
      text-align: center;
      padding: 27px 0px !important; }
      .navbar-nav li a span {
        color: rgba(255, 255, 255, 0.5);
        margin-top: -2px;
        float: right; }
    .navbar-nav li label {
      width: 20px;
      display: none;
      margin: 2px auto;
      border-top: 1px solid #fff; }
    .navbar-nav li.cur label {
      display: block; }

  .ui-mode-info {
    top: 170px; }

  .homerefer .info .time {
    font-size: 18px; }
  .homerefer .info .des {
    font-size: 18px; }
  .homerefer .info .detail {
    font-size: 14px; } }
@media only screen and (max-width: 640px) {
  .homeduty .hover {
    font-size: 12px !important; }

  .ui-mode-info {
    margin-top: 85px; }

  .ui-mode-info .des {
    margin-top: 20px !important;
    line-height: 48px !important; }

  .swiper-slide .img {
    top: 0 !important;
    margin-top: 0 !important;
    height: 100%; }

  .ui-mode-info {
    top: 200px; }

  .homeabout .container-fluid, .homeduty .container-fluid, .homerefer .container-fluid {
    margin-top: 50px; }

  .homerefer .mode .info {
    width: 55% !important; }
    .homerefer .mode .info .detail, .homerefer .mode .info .time, .homerefer .mode .info .des {
      margin-top: 2px !important; }
  .homerefer .mode p {
    line-height: 15px; }
  .homerefer .mode img {
    width: 40% !important; }

  .map {
    width: 400px !important; }

  .screen .screenin {
    width: 600px !important;
    margin-left: 0px !important;
    left: 20px !important; }
    .screen .screenin #map {
      width: 580px; }

  .homeduty .row {
    margin: 0px !important; }

  .refer-btn-more {
    margin-top: 40px !important; } }
/*common*/
.ui-btn-more {
  background: url(../images/hp-more.png) no-repeat center center;
  width: 290px;
  height: 18px;
  display: block;
  margin: 70px auto; }

.ui-orn-pic {
  width: 100%;
  background: url("../images/hp-ornpic.png") no-repeat center center;
  height: 65px;
  margin-top: 0px; }

.ui-mode-info {
  color: #3da8aa;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  width: 100%; }
  .ui-mode-info .tit {
    line-height: 50px;
    color: #3da8aa;
    padding: 7px;
    border-bottom: 1px solid #3da8aa; }
  .ui-mode-info .des {
    margin-top: 36px;
    color: #818181;
    line-height: 40px; }

.col-pd {
  margin: 10px 0px;
  position: relative; }

.col-pdnot {
  position: relative; }

.col-mrg {
  margin-top: 13px; }

/*homepage*/
.page {
  height: 100%;
  width: 100%; }

.navbar-header {
  height: 79px; }

.navbar.active {
  -webkit-transform: translate3d(0, 0px, 0); }

.navbar-default.navaddcolor {
  background: #3da8aa; }

.navbar-toggle {
  border: none;
  margin-top: 9px; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
  width: 40px;
  margin-top: 8px; }
  .navbar-default .navbar-toggle .icon-bar:last-child {
    width: 20px;
    float: right; }

.navbar-brand {
  padding-top: 8px !important; }

.navbar-default {
  background: rgba(255, 255, 255, 0.5); }

.logo {
  float: left; }

.banners {
  width: 100%;
  overflow: hidden;
  position: relative; }
  .banners .swiper-container {
    width: 100%;
    height: 100%; }
  .banners .swiper-slide .img {
    position: absolute;
    top: 50%;
    margin-top: -500px; }
  .banners .des {
    position: absolute;
    left: 50%;
    margin-left: 100px;
    top: 50px; }
    .banners .des img {
      width: auto; }
  .banners .text {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    text-align: center; }
    .banners .text img {
      width: auto; }

/*homeabout*/
.homeabout {
  width: 100%;
  padding-top: 80px;
  height: 100%;
  overflow: hidden; }
  .homeabout .mode-intro {
    width: 100%; }
    .homeabout .mode-intro li {
      width: 50%;
      float: left;
      text-align: center; }
      .homeabout .mode-intro li img {
        max-width: 300px;
        height: auto; }
  .homeabout .hover {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); }
    .homeabout .hover .tit {
      background: url(../images/hp-intro1.png) no-repeat center 10px;
      font-size: 18px;
      padding-top: 49%; }
    .homeabout .hover span {
      display: block;
      font-weight: bold;
      color: #fff; }
    .homeabout .hover .des {
      font-size: 14px; }

.homeduty {
  padding-top: 80px;
  overflow: hidden; }
  .homeduty .hover {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    font-size: 16px;
    top: 0;
    align-items: center;
    color: #fff;
    background: rgba(93, 171, 174, 0.6); }

.homerefer {
  padding-top: 80px;
  overflow: hidden; }
  .homerefer .mode {
    position: relative; }
    .homerefer .mode:hover {
      background: #3da8aa; }
      .homerefer .mode:hover .des, .homerefer .mode:hover .detail {
        color: #fff !important; }
      .homerefer .mode:hover .line {
        border: 1px solid #fff !important; }
    .homerefer .mode a {
      display: block;
      z-index: 999999; }
    .homerefer .mode img {
      float: left;
      width: 30%; }
    .homerefer .mode .info {
      width: 67%;
      float: left;
      padding-left: 10px;
      overflow: hidden; }
      .homerefer .mode .info .time {
        color: #cccccc;
        margin-top: 7px; }
      .homerefer .mode .info .des {
        color: #373737;
        font-weight: bold;
        margin-top: 6px;
        display: block; }
      .homerefer .mode .info .detail {
        color: #9a9a9a;
        margin-top: 10px; }
      .homerefer .mode .info .line {
        width: 25px;
        border: 1px solid #373737;
        display: block; }
  .homerefer .btn-more {
    width: 100px;
    height: 40px;
    text-align: center;
    margin-top: 40px;
    line-height: 40px;
    color: #3da8aa;
    font-size: 18px;
    border: 1px solid #3da8aa;
    margin: 0 auto;
    display: block; }

.homecontact {
  background: url("../images/hp-contbg.jpg") no-repeat center center;
  background-repeat: repeat-y;
  padding-top: 80px; }
  .homecontact .map {
    background: url("../images/hp-map.png") no-repeat;
    background-size: 100% 100%;
    width: 604px;
    position: relative;
    height: 499px; }
    .homecontact .map .map-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      cursor: pointer;
      margin-left: -30px;
      width: 65px;
      height: 65px; }
  .homecontact .erweima {
    margin-bottom: 10px; }
  .homecontact .phone, .homecontact .addres {
    color: #808080;
    font-size: 14px;
    line-height: 25px; }
  .homecontact .city {
    color: #3da8aa;
    font-size: 24px;
    line-height: 56px; }
  .homecontact .join {
    width: 150px;
    height: 40px;
    line-height: 40px;
    display: block;
    color: #3da8aa;
    border: 1px solid #3da8aa;
    text-align: center;
    font-size: 18px;
    margin-top: 10px; }
  .homecontact .footer {
    width: 100%;
    background: #404040;
    color: #fff;
    position: absolute;
    height: 0;
    bottom: 0;
    left: 0; }
    .homecontact .footer .row:first-child {
      margin-top: 20px; }
    .homecontact .footer .ferwei {
      position: absolute;
      left: 0; }
    .homecontact .footer .row a {
      color: #737373;
      margin-top: 10px;
      display: block; }
    .homecontact .footer .message {
      color: #fff;
      line-height: 60px;
      margin-top: 20px;
      background: #3a3a3a; }

.screen {
  position: absolute;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  height: 100%;
  width: 100%; }
  .screen .screenin {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -179px 0 0 -442px;
    width: 884px;
    height: 420px;
    overflow: hidden; }
    .screen .screenin .screenBox {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background: #fff;
      border: 5px solid #000;
      border-radius: 5px; }
      .screen .screenin .screenBox #map {
        left: 1%;
        top: 3%;
        position: absolute; }
      .screen .screenin .screenBox .boxclose {
        position: absolute;
        right: 10px;
        bottom: 5px;
        width: 26px;
        height: 27px;
        background: url(../images/bg_close.jpg);
        cursor: pointer; }

/*# sourceMappingURL=main.css.map */
