.navbar-default{
  background-color: #3da8aa;
  .navbar-header{
    height:79px;
    .navbar-brand{
      padding-top:6px;
    }
  }
  .navbar-toggle{
    border: none;
    margin-top:9px;
  }
  .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background-color:transparent;
  }
  .navbar-toggle .icon-bar{
    background-color: #fff;
    width:40px;
    margin-top: 8px;
    &:last-child{
      width:20px;
      float: right;
    }
  }
  .navbar-brand{
    padding-top: 8px!important;
  }
  .navbar-toggle{
    border: none;
    margin-top:9px;
  }
}
@media only screen and (max-width: 1200px){
  .navbar-nav {
    display: none;
  }
  .navbar-toggle{
    display: block;
  }
  .navbar-header{
    float: none;
  }
}
@media (min-width: 768px){
  .navbar-nav{
    float: right!important;
    li{
      &:hover{
        label{
          display: block;
        }
      }
      a{
        width: 168px;
        font-size: 18px;
        text-align: center;
        color: rgb(255, 255, 255);
        padding: 27px 0px !important;
        span{
          color:rgba(255,255,255,0.5);
          margin-top: -2px;
          float: right;
        }
      }
      label{
        width:20px;
        display: none;
        margin: 2px auto;
        border-top: 1px solid #fff;
      }
      &.cur{
        label{
          display: block;
        }
      }
    }
  }
}
