/*resize*/
@media only screen and (min-width: 1400px) {
  .col-mrg{
    margin-top:22px!important;
  }
  .refer-btn-more{
    margin-top: 30px!important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1400px){
  .duty-left{
    width:212px!important;
  }
  .duty-right{
    width:400px!important;
  }
  .homeabout{
    .col-pd{
      width:280px;
    }
  }
}
@media only screen and (max-width: 976px) {
  .navbar-nav{
    span{
      display: none;
    }
  }
}
@media (min-width: 768px){
  //pc
  //nav
  .navbar-nav{
    float: right!important;
    li{
      &:hover{
        label{
          display: block;
        }
      }
      a{
        width:168px;
        color: #fff!important;
        font-size: 18px;
        text-align: center;
        padding:27px 0px!important;
        span{
          color:rgba(255,255,255,0.5);
          margin-top: -2px;
          float: right;
        }
      }
      label{
        width:20px;
        display: none;
        margin: 2px auto;
        border-top: 1px solid #fff;
      }
      &.cur{
        label{
          display: block;
        }
      }
    }
  }

  .ui-mode-info{
    top:170px;
  }
  .homerefer{
    .info{
      .time{
        font-size: 18px;
      }
      .des{
        font-size:18px;
      }
      .detail{
        font-size:14px;
      }
    }
  }
}
  @media only screen and (max-width: 640px){
    .homeduty{
      .hover{
        font-size: 12px!important;
      }
    }
    .ui-mode-info{
      margin-top: 85px;
    }
    .ui-mode-info .des{
      margin-top: 20px!important;
      line-height: 48px!important;
    }
    .swiper-slide{
      .img{
        top:0!important;
        margin-top: 0!important;
        height:100%;
      }
    }
    .ui-mode-info{
      top:200px;
    }
    .homeabout,.homeduty,.homerefer{
      .container-fluid{
        margin-top:50px;
      }
    }
    .homerefer{
      .mode{
        .info{
          width:55%!important;
          .detail,.time,.des{
            margin-top: 2px!important;
          }
        }
        p{
          line-height:15px;
        }
        img{
          width:40%!important;
        }
      }
    }
    .map{
      width:400px!important;
    }
    .screen{
      .screenin{
        width: 600px!important;
        margin-left: 0px!important;
        left: 20px!important;
        #map{
          width:580px;

        }
      }
    }
    .homeduty{
      .row{
        margin:0px!important;
      }
    }
    .refer-btn-more{
      margin-top: 40px!important;
    }

  }
