include include/templater.jade
.page
    .section#section0
        .container

    .section#section1
        .container
            h2 2
    .section#section3
        .container
            h1 3

    .section#section4
        .container
            h1 4

    .section#section5
        .container
            h1 5









