doctype html
html(lang='en')
    head
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8" )
        meta(name="renderer" content="webkit")
        meta(name="viewport" content="width=640")
        title QRu
        link(href="css/main.css",rel="stylesheet")
        link(href="css/jquery.fullPage.css")
    body
        .container#page
            .nav-toggle
                .icon
            .content
                .headerbox1
                    .wrap
                        a(href="" class="")
                .headerbox2
                    .wrap






        script(src="scripts/jquery.min.js")
        script(src="scripts/jquery.fullPage.min.js")
        script(src="scripts/main.js")




