doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        title 00
        link(href="css/bootstrap.min.css",rel="stylesheet",type="text/css")
        link(href="css/jquery.fullPage.min.css",rel="stylesheet",type="text/css")
        link(href="css/owl2/owl.carousel.min.css",rel="stylesheet",type="text/css")
        link(href="css/global.css",rel="stylesheet",type="text/css")
    body
        nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
            .containe
                .navbar-header
                    button.navbar-toggle(type="button",data-toggle="collapse",data-target="#example-navbar-collapse")
                        span.sr-only
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="#")
                        img(height="34",src="images/logo.png")
                #example-navbar-collapse.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li
                            a(href="#") title
                        li
                            a(href="#") title
        #fullpage
            .section.section1
                .owl-carousel
                    - for(var i=0;i<5;i++)
                        .slider(style="background-image:url('uploads/banner.jpg')")
            .section.section2
                .row
                    .col-md-12.text-center.m-hd
                        h3 业务领域
                        p "天朗气清，惠风和畅，仰观宇宙之大，俯察品类之盛，所以游目畅怀，足以极视听之娱。"
                        p —— 王羲之《兰亭集序》
                .row.m-thumbs
                    .col-md-6.col-sm-6.col-xs-6
                        a.ui-thumbmask.pull-right(href="#")
                            img.img-thumbnail(src="uploads/idx-business-bg1.jpg",alt="")
                            .mask
                                .sumbox
                                    span.sign(style="background-image:url('images/sg-s1e1.png')")
                                    h4 旅游服务
                                    p 片旅游链价值挖掘

                    .col-md-6.col-sm-6.col-xs-6
                        a.ui-thumbmask.pull-left(href="#")
                            img.img-thumbnail(src="uploads/idx-business-bg1.jpg",alt="")
                            .mask
                                .sumbox
                                    span.sign(style="background-image:url('images/sg-s1e1.png')")
                                    h4 旅游服务
                                    p 片旅游链价值挖掘
                .row.m-thumbs
                    .col-md-6.col-sm-6.col-xs-6
                        a.ui-thumbmask.pull-right(href="#")
                            img.img-thumbnail(src="uploads/idx-business-bg1.jpg",alt="")
                            .mask
                                .sumbox
                                    span.sign(style="background-image:url('images/sg-s1e1.png')")
                                    h4 旅游服务
                                    p 片旅游链价值挖掘
                    .col-md-6.col-sm-6.col-xs-6
                        a.ui-thumbmask.pull-left(href="#")
                            img.img-thumbnail(src="uploads/idx-business-bg1.jpg",alt="")
                            .mask
                                .sumbox
                                    span.sign(style="background-image:url('images/sg-s1e1.png')")
                                    h4 旅游服务
                                    p 片旅游链价值挖掘
            .section.section3
                .row
                    .col-md-12.text-center.m-hd
                        h3 企业责任
                        p "天朗气清，惠风和畅，仰观宇宙之大，俯察品类之盛，所以游目畅怀，足以极视听之娱。"
                        p —— 王羲之《兰亭集序》
                .row.m-thumbs
                    .col-xs-5
                        .row
                            .col-xs-12
                                a.ui-thumbmask(href="#")
                                    img.img-thumbnail(src="uploads/idx-duty-bg1.jpg",alt="")
                                    .mask
                                        .sumbox
                                            span.sign(style="background-image:url('images/sg-s1e1.png')")
                                            h4 旅游服务
                                            p 片旅游链价值挖掘
                        .row
                            .col-xs-12
                                a.ui-thumbmask(href="#")
                                    img.img-thumbnail(src="uploads/idx-duty-bg1.jpg",alt="")
                                    .mask
                                        .sumbox
                                            span.sign(style="background-image:url('images/sg-s1e1.png')")
                                            h4 旅游服务
                                            p 片旅游链价值挖掘
                    .col-xs-7
                        a.ui-thumbmask(href="#")
                            img.img-thumbnail(src="uploads/idx-duty-bg2.jpg",alt="")
                            .mask
                                .sumbox
                                    span.sign(style="background-image:url('images/sg-s1e1.png')")
                                    h4 旅游服务
                                    p 片旅游链价值挖掘
            .section.section4
                .row
                    .col-md-12.text-center.m-hd
                        h3 咨询报告
                        p "天朗气清，惠风和畅，仰观宇宙之大，俯察品类之盛，所以游目畅怀，足以极视听之娱。"
                        p —— 王羲之《兰亭集序》
                .row.m-thumbs
                    .col-xs-12
                        .row
                            .col-sm-6
                                .row.ui-thumbnail
                                    .col-xs-4
                                        img.img-responsive(src="uploads/1.jpg")
                                    .col-xs-8.txtbox
                                        p.date 2016年06月
                                        h4 青如旅游：镇远镖局“歪门邪道”路线推介策划报告
                                        p.about.hidden-xs 为体现“镇远镖局”实体品牌价值，推介游线，将『镇远镖局』特色产品及……
                            .col-sm-6
                                .row.ui-thumbnail
                                    .col-xs-4
                                        img.img-responsive(src="uploads/1.jpg")
                                    .col-xs-8.txtbox
                                        p.date 2016年06月
                                        h4 青如旅游：镇远镖局“歪门邪道”路线推介策划报告
                                        p.about.hidden-xs 为体现“镇远镖局”实体品牌价值，推介游线，将『镇远镖局』特色产品及…….
                        .row.hidden-xs
                            .col-sm-6
                                .row.ui-thumbnail
                                    .col-xs-4
                                        img.img-responsive(src="uploads/1.jpg")
                                    .col-xs-8.txtbox
                                        p.date 2016年06月
                                        h4 青如旅游：镇远镖局“歪门邪道”路线推介策划报告
                                        p.about.hidden-xs 为体现“镇远镖局”实体品牌价值，推介游线，将『镇远镖局』特色产品及……
                            .col-sm-6
                                .row.ui-thumbnail
                                    .col-xs-4
                                        img.img-responsive(src="uploads/1.jpg")
                                    .col-xs-8.txtbox
                                        p.date 2016年06月
                                        h4 青如旅游：镇远镖局“歪门邪道”路线推介策划报告
                                        p.about.hidden-xs 为体现“镇远镖局”实体品牌价值，推介游线，将『镇远镖局』特色产品及…….
                .row
                    .col-xs-12.text-center
                        a.btn.btn-default.btn-more(href="") 更多
            .section.section5
                .row
                    .col-md-12.text-center.m-hd
                        h3 联系我们
                        p "天朗气清，惠风和畅，仰观宇宙之大，俯察品类之盛，所以游目畅怀，足以极视听之娱。"
                .row.m-bd
                    .col-md-8.hidden-sm.hidden-xs
                        img.img-responsive(src="images/map.png")
                    .col-md-4.col-xs-12
                        img.qrcode.img-responsive(src="images/qrcode.jpg")
                        .tel
                            p 021-88888888
                            p 021-88888888
                        .addr
                            h4 中国·贵阳
                            p 贵州青如信息科技有限公司
                            p 贵州省贵阳市花果园财富广场2号楼2103室
                        p
                            a.btn.btn-default.btn-more(href="") 更多

        script(src="scripts/jquery.min.js")
        script(src="scripts/bootstrap.min.js")
        script(src="scripts/jquery.fullPage.min.js")
        script(src="scripts/owl.carousel.min.js")
        script(src="scripts/index.js")








