doctype html
html(lang='en')
    head
        include include/g-meta.jade
        title QRu
        include include/g-style.jade
        link(rel="stylesheet",href="css/main.css")
    body
        include include/nav.jade
        .page
            .section#section0
                .container
                    - for(var i=0;i<2;i++)
                        .row
                            - for(var j=0;j<2;j++)
                                .col-md-6.col-sm-6.col-xs-6(class=j == 0 ? "text-right" : "")
                                    a.thumbnail(href="#")
                                        img.img-thumbnail(src="http://www.runoob.com/wp-content/uplo" +
                                        "ads/2014/06/kittens.jpg",alt="")
            .section#section1
                .container
                    h2 2
            .section#section3
                .container
                    h1 3
            .section#section4
                .container
                    h1 4
            .section#section5
                .container
                    h1 5
        include include/g-script.jade
        script(src="scripts/main.js")








