doctype html
html(lang='en')
    head
        meta(name="viewport",content="width=device-width, initial-scale=1")
        title
        link(href="css/common/jquery.fullPage.css",rel="stylesheet")
        link(href="css/common/bootstrap/bootstrap.min.css",rel="stylesheet")
    body
        p 123
        script(src="scripts/plugs/jquery.min.js")
        script(src="scripts/plugs/bootstrap.min.js")
        script(src="scripts/plugs/jquery.fullPage.min.js")
        script.
            $(function () {
                $(".page").fullpage({
                    verticalCentered: true
                });
            });








