doctype html
html(lang='en')
    head
        include include/g-meta.jade
        title QRu
        include include/g-style.jade
        link(rel="stylesheet",href="css/main.css")
    body
        include include/nav.jade
        .page
            .section 1
            .section 2
        include include/g-script.jade
        script.
            $(function () {
                $(".page").fullpage({
                    verticalCentered: false
                });
            });








