#menu.navbar.navbar-default.navbar-fixed-top(role="navigation")
    .container
        .navbar-header
            button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1")
                span.sr-only
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a(class="navbar-brand" href="index.html")
                //img(src="images/logo1.png" class="logo")
        .collapse.navbar-collapse#navbar-collapse-1
            ul.nav.navbar-nav
                li(data-menuanchor="page")
                    a(href="") 1
                        span |
                        label
                li(data-menuanchor="gallery")
                    a(href="") 2
                        span |
                        label
                li(data-menuanchor="Gallery")
                    a(href="") 3
                        span |
                        label
                li(data-menuanchor="aboutus")
                    a(href="") 4
                        span |
                        label
                li(data-menuanchor="contact")
                    a(href="") 5
                        span |
                        label
